<%if @domains.present?%>
<table border="4">
	<tr>
		<th> Domain ID </th>
		<th> Domain Name </th>
		<th> Domain Manager </th>
		<% if current_user.is_admin? %> <th> </th><%end%>
	</tr>
	<% @domains.each do |domain|%>
	<tr>
		<td> <%= domain.id %> </td>
		<td> <%= link_to domain.name,domain%> </td>
		<td> <%= domain.lead_name %> </td>
		<% if current_user.is_admin? || current_user.is_domain_manager?(domain) %> 
			<td> <%= link_to  "Edit",edit_domain_path(domain) %> </td>
		<%end%>
	<tr>
	<%end%>
</table>
<%else%>
	Oops! there is no domain! 
<%end%>


<br/><br/>
<%= link_to "Add new Domain",new_domain_path%>  

