<!DOCTYPE html>
<html>
<head>
  <title>MadrastersForum</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="wrapper">
      <%= render :partial => 'layouts/global_header'%>

        <div id="content">
          <div class="container-fluid">
            <%= yield %>
          </div>
        </div>

      <%= render :partial => 'layouts/global_footer'%>
    </div>
</body>
</html>
